@import "../../scss/index.scss";

.list-users {
  padding: 0 10px;

  &__user {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    color: $font-light;
    border-bottom: 1px solid $border-grey;

    .media-body {
      padding: 15px;
    }

    &:hover {
      color: $font-light;
      background-color: $background-dark-light;
      text-decoration: none;
    }
  }
}
